[submodule "secrets"]
	path = secrets
	url = https://github.com/kube-components-stack/secrets
	branch = main
[submodule "apps"]
	path = rendered-manifests/apps
	url = https://github.com/kube-components-stack/apps
	branch = main
