[submodule "secrets"]
	path = secrets
	url = git@github.com:kube-components-stack/secrets
	branch = main
[submodule "apps"]
	path = apps
	url = git@github.com:kube-components-stack/apps
	branch = main
